.app-container {
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
}

.first-part {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.second-part {
    display: flex;
    justify-content: start;
    flex-grow: 2;
    margin-top: 50px;
}
